<p id="notice"><%= notice %></p>

<p>
  <strong>Estresponsablepmis:</strong>
  <%= @intervenant.estResponsablePmis %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @intervenant.pseudo %>
</p>

<p>
  <strong>Mdp:</strong>
  <%= @intervenant.mdp %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @intervenant.tel %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @intervenant.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @intervenant.prenom %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @intervenant.mail %>
</p>

<p>
  <strong>Adresseperso1:</strong>
  <%= @intervenant.adressePerso1 %>
</p>

<p>
  <strong>Adresseperso2:</strong>
  <%= @intervenant.adressePerso2 %>
</p>

<p>
  <strong>Adressepersocp:</strong>
  <%= @intervenant.adressePersoCp %>
</p>

<p>
  <strong>Adressepersoville:</strong>
  <%= @intervenant.adressePersoVille %>
</p>

<p>
  <strong>Adressepro1:</strong>
  <%= @intervenant.adressePro1 %>
</p>

<p>
  <strong>Adressepro2:</strong>
  <%= @intervenant.adressePro2 %>
</p>

<p>
  <strong>Adresseprocp:</strong>
  <%= @intervenant.adresseProCp %>
</p>

<p>
  <strong>Adresseproville:</strong>
  <%= @intervenant.adresseProVille %>
</p>

<p>
  <strong>Metier:</strong>
  <%= @intervenant.metier %>
</p>

<%= link_to 'Edit', edit_intervenant_path(@intervenant) %> |
<%= link_to 'Back', intervenants_path %>
