<p id="notice"><%= notice %></p>

<h1>Parametrages</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Typeparam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parametrages.each do |parametrage| %>
      <tr>
        <td><%= parametrage.libelle %></td>
        <td><%= parametrage.typeParam %></td>
        <td><%= link_to 'Show', parametrage %></td>
        <td><%= link_to 'Edit', edit_parametrage_path(parametrage) %></td>
        <td><%= link_to 'Destroy', parametrage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parametrage', new_parametrage_path %>
