<p id="notice"><%= notice %></p>

<h1>Intervients</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Intervenant</th>
      <th>Intervention</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intervients.each do |intervient| %>
      <tr>
        <td><%= intervient.id %></td>
        <td><%= intervient.intervenant.pseudo %></td>
        <td><%= intervient.intervention.titre %></td>
        <td><%= link_to 'Show', intervient %></td>
        <td><%= link_to 'Edit', edit_intervient_path(intervient) %></td>
        <td><%= link_to 'Destroy', intervient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intervient', new_intervient_path %>

</br>
</br>
<p>Au-dessus gestion des données créer par scaffold</p>
<a href="/etablissements">Etablissement</a>
<a href="/intervenants">Intervenant</a>
<a href="/interventions">Intervention</a>
<a href="/metiers">Metier</a>
<a href="/parametrages">Parametrages</a>
<a href="/responsable_etablissements">Responsable Etablissement</a>
<a href="/est_du_types">Est Du Type</a>
<a href="/intervients">Intervient</a>
