<p id="notice"><%= notice %></p>

<h1>Intervients</h1>

<table>
  <thead>
    <tr>
      <th>Intervenant</th>
      <th>Intervention</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intervients.each do |intervient| %>
      <tr>
        <td><%= intervient.intervenant %></td>
        <td><%= intervient.intervention %></td>
        <td><%= link_to 'Show', intervient %></td>
        <td><%= link_to 'Edit', edit_intervient_path(intervient) %></td>
        <td><%= link_to 'Destroy', intervient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intervient', new_intervient_path %>
