<p id="notice"><%= notice %></p>

<p>
  <strong>Intervenant:</strong>
  <%= @intervient.intervenant %>
</p>

<p>
  <strong>Intervention:</strong>
  <%= @intervient.intervention %>
</p>

<%= link_to 'Edit', edit_intervient_path(@intervient) %> |
<%= link_to 'Back', intervients_path %>
