<%= form_with(model: est_du_type, local: true) do |form| %>
  <% if est_du_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(est_du_type.errors.count, "error") %> prohibited this est_du_type from being saved:</h2>

      <ul>
      <% est_du_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :etablissement_id %>
    <%= form.text_field :etablissement_id, id: :est_du_type_etablissement_id %>
  </div>

  <div class="field">
    <%= form.label :parametrage_id %>
    <%= form.text_field :parametrage_id, id: :est_du_type_parametrage_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
